* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

a {
    cursor: pointer;
}

ui-view {
    display: block;
}

.container-fluid {
}

textarea {
    resize: none;
}

.provider-btn {
    padding-left: 0;
}
